$font1:"Gruppo", cursive;
$font2:"Raleway", sans-serif;


$fondo: linear-gradient(
    to top,
    rgba(30, 35, 38, 0.8),
    rgba(30, 35, 38, 1)
),
url(../img/monit.jpg);


$colum-tecno: repeat(3, 1fr);
$row-tecno:repeat(2, 200px);

.ini{
    background:$fondo;
    background-size: cover;
    
    color: #fff;
    display: flex;
    justify-content: center;
    
}